@import url('https://fonts.googleapis.com/css?family=Roboto:300,500');

body{
}


p{
    margin:0;
    color:#333;
}

/* Navbar */
#navbar {
    display: flex;
    position: sticky;
    justify-content: space-between;
    z-index: 1;
    top:0;
    padding: .8rem;
    height:5.7rem;
 }
 
 /* Styling for Navbar on scroll - JavaScript */
 .navbar-scroll {
    background:#292929;
 }

 
 /* Styling for Scroll Function in JavaScript */
 .logo-scroll{
    width:4rem;
    position: absolute;
    margin:0 0 0 -1rem;
 }

 #navbar ul {
    display: flex;
    flex:1;
    align-items: center;
    list-style: none;
    font-size:1.2rem;
    justify-content: center;
 }
 
 #navbar ul li a {
    color: #000;
    padding: 0.75rem;
    margin: 0 0.25rem;
 }

 #navbar .contact{
     color:#000;
 }
 
 #navbar .logo{
    position: relative;
    margin-left:2rem;
    flex:1;
    margin-top:-.1rem;
 }


.portfolio-container{
    max-width:1200px;
    margin:auto;
    min-height:50vh;
    padding:2rem;
}


.portfolio-image {
    position: relative;
    width: 50%;
  }

  .porfolio-image .overlay .text{
      color:#cccccc;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  /* Overlay for the Portfolio Pictures */
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 86%;
    opacity: 0;
    transition: 1.8s ease;
    background-color: rgb(255, 255, 255);
  }
  
  .portfolio-image:hover .overlay {
    opacity: 0.9;
  }
  
  .text {
    color: #4d4d4d;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }


.portfolio-container-bottom{
    background:#fafafa;
    border-top:#dddddd solid 1px;
    /* display:flex;
    justify-content: center; */
    padding-bottom:5rem;
    
}




#portfolio-showcase{
    display: flex;
    margin-top:5rem;
    height:500px;
    justify-content: space-between;
}
#portfolio-showcase .portfolio-title,
#portfolio-showcase .portfolio-image{
    flex:1;
}
#portfolio-showcase .portfolio-title h1{
    font-size:3rem;
    font-weight:300;
    padding-bottom:1rem;
}
#portfolio-showcase .portfolio-title li{
    list-style: none;
}
#portfolio-showcase .portfolio-title p{
    line-height:1.9;
}
#portfolio-showcase .portfolio-title .skills-focus{
    display:flex;
    justify-content: space-between;
    color:#8e8e8e;
    border-top:1px solid #cccccc;
    padding-top:1rem;
}

#portfolio-showcase .portfolio-image img{
    max-width:100%;
    max-height:100%;
    padding-left:5rem;
}

.portfolio-container:last-child{
    background:black;
}

#portfolio-showcase .portfolio-title .skills{
    text-align: right;
}

.tab-container{
    width:1100px;
    margin:auto;
    margin-top:2rem;

}

/* Style the tab */
.tab {
    overflow: hidden;
    /* border: 1px solid #ccc;
    background-color: #f1f1f1; */
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }

  .current{
    background-color:#ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
  }

  .tabcontent:first-child {
    display:block;
  }